root = true

# All files
[*]
indent_style = tab
charset = utf-8

[*.cs]
# ; для namespace при создании
csharp_style_namespace_declarations = file_scoped:suggestion

# Xml files
[*.xml]
indent_size = 2
