# Скопируйте в .env и подставьте свои значения.
# .env подхватывается docker compose автоматически из корня репозитория.

DB_DATABASE=<имя_базы_данных>
DB_USER=<имя_пользователя>
DB_PASSWORD=<пароль>

ConnectionStrings__CloudDrive=Host=clouddrive.database;Port=5432;Database=${DB_DATABASE};Username=${DB_USER};Password=${DB_PASSWORD}
